.About {
	text-align: center;
	height: 100vh;
}
.About p {
	color: rgb(0, 0, 0);
	font-family: Merienda;
	/* width: 589px; */
	width: 40vw;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	margin-left: 30%;
	margin-top: 40px;
}
.About h2 {
	padding-top: 80px;
}