.Fourst-Header {
	background-image: url(../../../img/Foryourpleasure.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 280px;
}
.Fourst-Header-text {
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 60px;
}
.Fourst-Header-text h2 {
	font-family: Merienda;
	font-size: 40px;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: 0%;
}
